In [345]:
#!pip install selenium

download the webdriver of same version

In [17]:
import selenium
import pandas as pd
from selenium import webdriver

In [347]:
#driver=webdriver.Chrome(r"C:\Users\Sanjay\Downloads\chromedriver_win32\chromedriver.exe")

In [348]:
#driver.close()

upload chromedriver.exe file in jupyter notebook then,

In [18]:
driver=webdriver.Chrome("chromedriver.exe")

In [19]:
#driver.close()

Q1: Write a python program to scrape data for “Data Analyst” Job position in
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [20]:
driver.get("https://www.naukri.com/")

In [21]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("bangalore")

In [22]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

scraping process

In [23]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [24]:
title

[<selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="47358aaf-1885-417c-a65d-9f0a130aa566")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="6d2f1106-fd8f-4f52-b40a-aff237893b1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="e2199b28-52e1-4a40-a418-528461bda901")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="de3d4ccf-f52a-4788-a863-338b246e831e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="cde304cc-96dd-463d-a689-07fe75ae7e73")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="d0309185-5f3a-4b1b-be80-169589c5fbf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="96932752-2fb5-4179-ba76-c72c40d9dd80")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="fcecb422-b374-4239-ac78-c05e5cee22ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="cc1c7da2-d0f1-41de-adcc-56c73858772b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="ef432887-e606-435f-a9f1-c48b955d20f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="936bf9fa-62b4-45a8-befc-6cd7f69c78a0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="ea63c87b-1685-4964-a003-ac79cab1b50b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="4d34fd9c-6eb0-40bc-8ad3-f679d85a2b5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="75a40e6a-8c02-438a-a7eb-62d892e3a263")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="52ab6f18-c8b4-484e-9ca3-088bd45a5552")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="c81755b3-588f-4c7f-a23d-099d56e57a3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="8cdc965e-d7f7-404f-940c-5d97cc72bc56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="ff45a8cc-640e-484c-afb2-7b0ea9c9a9a2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="ac8ca560-8e29-4398-bd92-0c73b50f70bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="1172ceca-5c74-4647-bc01-581380f6d42a")>]

In [25]:
titles=[]
for i in title:
    titles.append(i.text)
titles[0:10]

['Associate Data Analyst',
 'SQL Data Analyst',
 'Data Analyst - Marketing',
 'Business Data Analyst',
 'Data Analyst',
 'Openings For Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst']

In [26]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")

In [27]:
location

[<selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="3cb8613c-3510-4b7c-a280-085481daa76e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="ecf10867-bf94-463b-8d21-4b7a9d6ab015")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="1b56a885-0708-4d26-9732-85d89065408b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="75e4250a-3b49-4d0c-809f-468ca526e1cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="f091211c-b693-4894-941a-310f8f2d5782")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="ccc6689e-4083-4137-b7bb-5027caca3127")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="f92250c3-d86a-4625-b6a2-23b6ef4abe7b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="ad4fe763-1949-470b-9587-27123d0f7932")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="13871e60-5464-4c72-aa1a-35352239bba7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="80ad8969-bb90-4ed8-a0a7-e63b539f3a2d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="154bd13d-a10e-46d9-b5c3-0103d600aa77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="29498628-6180-408d-acaa-3cff5a2df615")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="b62b7a1f-6e39-49b5-8fc7-1dc05ee0d4b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="c5bfc8bc-43a1-494a-a081-79e9ade2aecc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="54e526d2-ae97-429b-a255-805fce45ba7a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="0e3aac08-a033-44a4-8e33-12c51038a6f4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="86ca7f9f-9f3c-4ad2-85c0-ca7490ada9d4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="823c2493-d4bd-43ff-a943-79849ceca57c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="709fbd55-d8c7-4267-a5f1-e9203d18848e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="e5d1390d-a467-4499-af30-65f0abbb0fb3")>]

In [28]:
locations=[]
for i in location:
    locations.append(i.text)
locations[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [29]:
c_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [30]:
c_names=[]
for i in c_name:
    c_names.append(i.text)
c_names[0:10]

['Integrated Digital Systems',
 'NetApp',
 'Byjus - Transforming Education using Technology',
 'RANDSTAD INDIA PVT LTD',
 'Amazon Development Centre (India) Pvt. Ltd.',
 'Allegis Services India Pvt. Ltd.',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited',
 'Flipkart Internet Private Limited']

In [31]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exp

[<selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="bc30f59b-352f-4bb8-a42d-d8aab1882ccd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="4116a24c-bf45-4dfc-9168-b2b0836f637a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="41d1f389-1f29-4d0c-8639-b33de69f495d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="2598259f-e0c5-4881-a4a7-d9c8169e16b8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="409bd089-5e49-468e-bffc-bda049f30ce4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="5befe9f9-e915-406e-afff-946c41346134")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="bc3bed26-7464-4d13-8e1a-57472da3ba54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="739f91c3-df13-4a40-87cf-c85e586b40de")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="8f3b3183-79db-408f-bd82-80466d3a78d8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="6e3f0d3e-40bb-4db4-b364-7f46558bca02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="f2c5b24d-7ae6-41aa-a042-3f3f28fcddd3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="cca9fbd8-587f-4db3-a4fd-c265477b67d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="a93bdeb1-78bc-480b-9dc3-bacdc5967323")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="30c0ca54-162d-46c6-94bc-99112603ba2c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="65b44298-4cce-488c-9ed0-a0efd71f1937")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="a7fb2f6c-7905-47fc-b910-bf1f938a3dc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="8a71f9fc-981b-4205-a1bb-43351eded5b1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="e743de83-c3ca-46d1-9a29-7296cedaad44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="e2661c56-c291-46e0-902b-55bc94e9947b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8ffa1474337a7ae1fcf5df7507b88ae2", element="723538fd-9768-4cdb-b9c5-6057d56cbaf5")>]

In [32]:
exps=[]
for i in exp:
    exps.append(i.text)
exps[0:10]

['0-2 Yrs',
 '3-7 Yrs',
 '0-2 Yrs',
 '8-12 Yrs',
 '2-4 Yrs',
 '0-3 Yrs',
 '2-5 Yrs',
 '3-7 Yrs',
 '3-7 Yrs',
 '3-7 Yrs']

In [33]:
df=pd.DataFrame()
df["job_title"]=titles[0:10]
df["location"]=locations[0:10]
df["company_name"]=c_names[0:10]
df["experience_required"]=exps[0:10]
df

,job_title,location,company_name,experience_required
0,Associate Data Analyst,Bangalore/Bengaluru,Integrated Digital Systems,0-2 Yrs
1,SQL Data Analyst,Bangalore/Bengaluru,NetApp,3-7 Yrs
2,Data Analyst - Marketing,Bangalore/Bengaluru,Byjus - Transforming Education using Technology,0-2 Yrs
3,Business Data Analyst,Bangalore/Bengaluru,RANDSTAD INDIA PVT LTD,8-12 Yrs
4,Data Analyst,Bangalore/Bengaluru,Amazon Development Centre (India) Pvt. Ltd.,2-4 Yrs
5,Openings For Data Analyst,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-3 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,3-7 Yrs
8,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,3-7 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,3-7 Yrs

In [34]:
driver.close()

Q2: Write a python program to scrape data for “Data Scientist” Job position in
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [40]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.naukri.com/")

In [41]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("bangalore")

In [42]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [7]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles=[]
for i in title:
    titles.append(i.text)
titles[0:10]

['Data Scientist / AI / ML Engineer',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist, NLP',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Advanced Analytics',
 'Data Scientist - AI Flagship',
 'Digital Enterprise Architect (Data Scientist)',
 'Data Scientist']

In [9]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations=[]
for i in location:
    locations.append(i.text)
locations[0:10]

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sadashiva Nagar)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Whitefield)\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [10]:
c_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
c_names=[]
for i in c_name:
    c_names.append(i.text)
c_names[0:10]

['Hitachi Ltd.',
 'GO-JEK India',
 'Convergence Infotech Ltd',
 'Thomson Reuters',
 'BRIDGETREE RESEARCH SERVICES PRIVATE LIMITED',
 'Flipkart Internet Private Limited',
 'IBM India Pvt. Limited',
 'Schneider Electric India Pvt. Ltd.',
 'Mphasis Limited',
 'GlaxoSmithKline Pharmaceuticals Limited']

In [11]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exps=[]
for i in exp:
    exps.append(i.text)
exps[0:10]

['5-10 Yrs',
 '5-10 Yrs',
 '8-12 Yrs',
 '8-10 Yrs',
 '4-5 Yrs',
 '3-6 Yrs',
 '5-10 Yrs',
 '4-7 Yrs',
 '10-13 Yrs',
 '4-7 Yrs']

In [12]:
df=pd.DataFrame()
df["job_title"]=titles[0:10]
df["location"]=locations[0:10]
df["company_name"]=c_names[0:10]
df["experience_required"]=exps[0:10]
df

,job_title,location,company_name,experience_required
0,Data Scientist / AI / ML Engineer,Bangalore/Bengaluru,Hitachi Ltd.,5-10 Yrs
1,Senior Data Scientist,Bangalore/Bengaluru,GO-JEK India,5-10 Yrs
2,Senior Data Scientist,Bangalore/Bengaluru(Sadashiva Nagar)\n(WFH dur...,Convergence Infotech Ltd,8-12 Yrs
3,"Senior Data Scientist, NLP",Bangalore/Bengaluru,Thomson Reuters,8-10 Yrs
4,Data Scientist,Bangalore/Bengaluru(Whitefield)\n(WFH during C...,BRIDGETREE RESEARCH SERVICES PRIVATE LIMITED,4-5 Yrs
5,Data Scientist,Bangalore/Bengaluru,Flipkart Internet Private Limited,3-6 Yrs
6,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM India Pvt. Limited,5-10 Yrs
7,Data Scientist - AI Flagship,Bangalore/Bengaluru,Schneider Electric India Pvt. Ltd.,4-7 Yrs
8,Digital Enterprise Architect (Data Scientist),Bangalore/Bengaluru,Mphasis Limited,10-13 Yrs
9,Data Scientist,Bangalore/Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,4-7 Yrs

In [8]:
import time

In [44]:
page_url = [] 

url = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
for i in url:
    page_url.append(i.get_attribute('href'))

In [45]:
len(page_url)

20

In [46]:
desc=[]
for i in page_url[:10]:
    driver.get(i)
    time.sleep(3)

    try:
        desc_tag = driver.find_element_by_xpath("//section[@class='job-desc']")
        desc.append(desc_tag.text)

    except:
        desc_tag = driver.find_element_by_xpath("//section[@class='getJobDescription JD av_textblock_section']")
        desc.append(desc_tag.text)

In [47]:
len(desc)

10

In [48]:
desc

['Job description\nDuties and Responsibilities\nImplement the application solving customer s issue by applying AI/ML technologies\nApply ML and DL models for various industry problems.\nSetting-up collaboration environment and framework for AI related research and development projects.\nDesign and develop different architectural models for scalable data storage, processing, and large-scale analytics.\nWork with cross-functional teams to understand technical needs.\nSet-up big data environment that helps establish rapid POCs and prototype developments on both on-premises and cloud-based platforms.\nMonitor and optimize performance of the big data ecosystem.\nEnsure data accessibility to researchers via different programming languages.\nKeep up to date with state of the art in the industry.\nQualifications\nMinimum\nBachelor s degree in Computer Science with substantial industry experience of 5 years or more of Data Engineering/ETL/Administration experience.\nHands-on experience in Statistical data analysis and Machine learning\nPossess significant knowledge of Big Data technologies and tools.\nGood coding skills in at least one scripting language (Shell, Python, R, etc.)\nExperience with various Hadoop distribution like Hortonworks and Cloudera.\nKnowledge of cluster monitoring tools like Ambari, Ganglia, or Nagios.\nDelivered Big Data solutions in the cloud with AWS or Azure or Google Cloud.\nExperience in Java programming, Scala programming.\nExperience with RDBMS (MySQL, PostgreSQL, etc.)\nExperience with NoSQL database administration development like MongoDB.\nExperience with Hadoop eco-system (MapReduce, Streaming, Pig, HIVE, Spark).\nExperience using DevOps toolbox such as Jenkins, Chef, Puppet.\nProven ability to create and manage big data pipeline using Kafka, Flume Spark\nKnowledge of BI tools such as Tableau, Pentaho, etc.\nExperience building large-scale distributed applications and services.\nExperience with agile development methodologies. -\nKnowledge of industry standards and trends.\nGood communication, logical thinking, and presentation skills.\nAdditional qualifications (preferred but not mandatory)\nMaster s degree in Computer Science or equivalent with at least 5 years industry experience of data engineering/ETL/Administration.\nExperience applying Deep learning.\nSubstantial industry experience developing prototypes and demonstrating PoCs\nRoleFull Stack Developer\nIndustry TypeConsumer Electronics & Appliances\nFunctional AreaEngineering - Software\nEmployment TypeFull Time, Permanent\nRole CategorySoftware Development\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nHiveScalaHadoopBig DataSparkAwsMachine LearningPython',
 'Job description\nWhat You Will Do\nWork with Data Scientists, Machine Learning Engineers, and Business Users to build, deploy, and scale Data Science solutions on match-making, supply, pricing problems in Gojek that touch the company s baseline\nUse your experience in Data Science, Machine Learning, Software Engineering, distributed systems to develop these systems, and work with the platform team to take the systems to production\nWork with Business teams to continuously refine and improve the systems to cater to ever-changing Gojek needs\nDesign and develop world class Data Science solutions to enhance the current stack of Marketplace algorithms for supply, demand, pricing\nWhat You Will Need\nAt least 6 years of experience as a Data Scientist or Machine Learning Engineer, with experience in Python, Golang/Java, and Unix\nA Bachelors Degree in Computer Science, Statistics, Operations Research, or a relevant quantitative field\nSolid knowledge of Data Science and Machine Learning fundamentals, with proven experience formulating Data Science solutions to business problems\nProven ability to recognize business needs and to communicate with multiple stakeholders within the Product Management, Business and Operations teams\nExperience in taking Data Science models to production\nPrior academic or industry work experience with forecasting methods like auto-regressive models, Markov models, and Kernel-based methods\nPrior experience with simulations for modeling the stochastic nature of marketplace supply and demand, and knowledge of the transportation and mobility space\nRoleTechnical Lead\nIndustry TypeIT Services & Consulting\nFunctional AreaEngineering - Software\nEmployment TypeFull Time, Permanent\nRole CategorySoftware Development\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData ScienceJavaProduct ManagementAlgorithmsCustomer ExperienceSoftware EngineeringData ScientistComputer ScienceMachine LearningPython',
 'Job description\nRoles and Responsibilities\nPhD in Statistics, Math or Computer Science is preferred. Must have at least a Master degree with 10+ years of experience.\nExcellent statistical analysis skills to identify patterns in data. This includes having a keen sense of pattern detection and anomaly detection.\nExcellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.\nMust be able to implement algorithms and statistical concepts to build predictive models.\nIn-depth experience with common data science tools such as TensorFlow, PyTorch or equivalent.\nProficient in programming with python, SQL and No-SQL databases; and data science libraries such as nltk, numpy, scipy and many others\nGreat communication skills both written and verbal. Must be able to effectively communicate with global English speaking teams.\nExpertise in collaborating with multi-disciplinary teams of business analysts, data scientists, subject matter experts, and developers\nDesired Candidate Profile\n\n\nPerks and Benefits\n\n\nRoleTechnical Architect\nIndustry TypeIT Services & Consulting\nFunctional AreaEngineering - Software\nEmployment TypeFull Time, Permanent\nRole CategorySoftware Development\nEducation\nUG :B.Tech/B.E. in Computers, B.Sc in Any Specialization\nPG :M.Tech in Computers, MS/M.Sc(Science) in Computers\nDoctorate :Ph.D/Doctorate in Computers, Maths\nKey Skills\nTensorflowScipyALGORITHMSVMMachine LearningNumpySQLPytorchNltkAnomaly DetectionData Sciencek-nndecision forestsstatistical conceptsPython',
 "Job description\nSenior Data Scientist, NLP\nAre you excited about working at the forefront of applied research in an industry setting? Thomson Reuters Labs in Bangalore is seeking experienced data scientists with a passion for solving problems using state-of-the-art Machine Learning and Natural Language Processing.\nWhat does Thomson Reuters Labs do? We experiment, we build, we deliver. We support the organization and our customers through applied research and the development of new products and technologies. TR Labs innovates collaboratively across our core segments in Legal, Tax & Accounting, Government, and Reuters News.  We undertake a diverse portfolio of projects today while investing in long-term research for the future.\nAs a data scientist in Labs, you will be part of a global interdisciplinary team of experts. We hire specialists across a variety of AI research areas, as well as Engineering and Design, to drive the company's digital transformation. TR Labs is known for consistently delivering Artificial Intelligence projects that advance the state of the art in support of high growth products and serve Thomson Reuters customers in new and exciting ways.\n\nAbout the role\nIn this opportunity as a Senior Data Scientist, you will:\nExperiment and Develop: You will drive the entire model development lifecycle, building, testing, and delivering high-quality solutions. You will apply best practices for conducting reproducible research and well-managed software delivery.\nCollaborate: Working on a collaborative cross-functional team, you will share information, value diverse ideas, and partner effectively with colleagues across the globe. You will elevate and mentor teammates.\nDeliver: With a strong sense of urgency and the desire to work in a fast-paced, dynamic environment, you will translate complex business problems into projects with a clearly defined scope. Our problems are complex; our solutions are right-sized. You will be accountable for timely, well-managed deliverables.\nInnovate:  You will be empowered to try new approaches and learn new technologies. You will implement innovative ideas to solve real-world challenges.\nInspire: You will be a proactive communicator who is excited to share your work. You will be articulate and compelling in describing ideas to both technical and non-technical audiences. You will help lead the way in the adoption of AI across the enterprise.\n\nAbout you\nBasic qualifications\nPh.D. in a relevant discipline or Masters plus a comparable level of experience\nAt least five years experience building ML/NLP systems\nSolid software engineering skills for prototyping\nExperience as a technical leader, coordinating and guiding the work of others\nPreferred qualifications\n8+ years of academic or industry experience building ML or NLP systems with the demonstrated ability to translate cutting edge research into working applications\nDemonstrated ability to translate customer needs into well-structured research/project plans\nProficiency in Python, Java, or Scala and experience delivering minimum viable products in a large enterprise environment\nOutstanding communication, organization, and data-driven decision making\nPublications at workshops or conferences such as ACL, EMNLP, KDD, ICML, NeurIPS, or similar\n\nWhat's in it for you\nAt Thomson Reuters, our people are our greatest assets. In addition to rewarding and challenging work with exceptional colleagues, we offer the following benefits for your personal and professional growth:\nLearning & Development: On-the-job coaching & learning, tuition reimbursement, exposure to leading-edge technology\nOur Scientists and Engineers get to play with big data sets to discover new products, capabilities, and insights for our customers. Thomson Reuters is most well-known for the globally respected Reuters News agency, but our company is also the leading source of information for legal, corporate, and tax professionals. We have over 60,000 TBs worth of legal, regulatory, news, and tax data. \nBenefits: Flexible work arrangements, comprehensive health coverage effective day one, savings and investment plans\nPerks: Social events & activities, employee discount programs\nSocial Impact: Paid time off for volunteering virtually or in your community\nRoleData Scientist\nIndustry TypeSoftware Product\nFunctional AreaData Science & Analytics\nEmployment TypeFull Time, Permanent\nRole CategoryData Science & Machine Learning\nEducation\nPG :M.Tech in Any Specialization\nDoctorate :Ph.D/Doctorate in Any Specialization\nKey Skills\nJavaNLPAccountingscalaArtificial IntelligenceNatural Language ProcessingBig Datamodel development lifecyclePrototypingMachine LearningPythonModel Development",
 "Job description\nWe are seeking a Data Scientist to join our growing Analytics & Reporting team with strong hands-on analytical skills who can leverage disparate datasets, ensure data integrity and quality, create innovative solutions, and provide actionable insights to improve quality, service and customer outcomes. The ideal candidate will have experience with database technologies, operational analytics, working knowledge of Artificial Intelligence/Machine Learning (AI/ML) techniques. You will use statistical creativity and intellectual curiosity to create some of the most impressive statistical analyses that will propel our clients to the next level.\n\nResponsibilities\nBe a collaborative member of a group that translates business questions into practical results and actionable insights.\nAnalyze complex data sets, develop standardized processes, and support various ad-hoc analytic requests like KPI reporting, customer profiling, campaign response analysis, and advanced analytic modeling.\nWrite programs to cleanse and integrate data in an efficient and reusable manner.\nEnsure data quality and analytic accuracy before presenting to the stakeholders.\nImplement and validate predictive and prescriptive models; create and maintain statistical models with a focus on big data.\nIncorporate a variety of statistical and machine learning techniques in your projects.\nWork on complex problems and act as a consultant on other ML/ Data engineering projects.\nProduce accurate data reporting and provide recommendations for improving future reports.\nProvide insights into channel effectiveness and targeting effectiveness to drive better channel personalization as opportunities to improve program success.\nEvaluate modelling results and communicate the results to technical and non-technical audiences.\nResearch emerging tools and techniques in reporting and analytics.\n\nQualifications\nDegree in a highly relevant analytical or technical field, such as statistics, data science, or business analytics.\n4+ years of direct program and analysis experience in retail with a strong emphasis on answering complex business questions and developing practical solutions.\nExperience in a data-driven environment providing analytics & insights.\nKnowledge of predictive analytics, statistical modelling, model interpretation, exploratory data analysis and reporting.\nExtensive experience with large data sets, statistical analyses, and visualization as well as hands on experience with Python, SQL, and Tableau.\nAbility to quickly learn and take responsibility to deliver from preferred programming tool.\n\nPerks and Benefits\nBridgetree understands that our people are our true assets, and we go length and breadth to ensure we have a highly engaged and connected working environment. Our values - Integrity, Excellence, Ownership & Accountability, Create Problem Solving, Passion & Here to Help play an important role in defining and shaping Bridgetree's work culture. Quarterly skip-level meetings & annual manager feedback program ensure that employee communication channels are always open.\nBridgetree also offers the best in Industry perks and benefits. We follow a calendar cycle for performance/salary appraisal and include a great bonus model in pay structure. Additionally, some of the key benefits we offer are:\nA whole suite of leaves, PL, ML, Paternity, Quarantine, Sabbatical etc, \nMedical insurance benefits (including COVID hospitalization)\nLearning and Development - certification reimbursement\nFull-time WFH\nVisa sponsorship program\nSodexo/Zaggle food card options\nRelocation benefits\nRoleData Analyst\nIndustry TypeIT Services & Consulting\nFunctional AreaData Science & Analytics\nEmployment TypeFull Time, Permanent\nRole CategoryBusiness Intelligence & Analytics\nEducation\nUG :Any Graduate\nPG :Any Postgraduate\nKey Skills\nData ScienceExploratory Data AnalysisArtificial IntelligenceStatistical ModelingTableauMachine LearningStatisticsPythonPredictive AnalyticsSQL",
 'Job description\nAbout the role\nA Data Scientist in Flipkart is required to develop and implement a mix of ML, statistical and optimization models for the various projects formulated from business and product views. The responsible person should be able to communicate and collaborate with multiple stakeholders representing various teams to better understand the problem at hand. At a fundamental level, the responsible person should be able to dive deep into a problem statement and extract interesting insights as well as solutions. In addition to being a quick learner, a DS is expected to get involved in active research projects with a view to publish them.\nWhat you ll do\nUnderstand Business and product needs and use ML, statistical and optimization techniques as appropriate to provide solutions to those in a time bound fashion.\nCommunicate and collaborate with business and product teams to have a better understanding of the project so as to be able to drive it within the DS team.\nGet involved in in-depth exploration of solutions that are to be shared with business and product teams; specifically, build models and scalable custom algorithms for problems including decision optimization and predictive modeling.\nActive participation in working with new methods and learning new technologies, in areas including data science and data engineering.\nWhat you ll need:\nB.Tech, M.Tech or PhD in CS, Operations Research or related discipline with professional experience ranging from 3 to 6 years through deployed solutions/projects. Candidate should have taken academic coursework in Operations Research (specifically mathematical optimization)\nDemonstrated experience in building discrete, linear, nonlinear or stochastic optimization models is required. Experience with optimization models for supply chain optimization is preferred but not required\nDemonstrated experience in utilizing and tuning commercial optimization solvers (e.g. CPLEX, Gurobi) and in building custom optimization algorithms (e.g. exact algorithms, metaheuristics, large neighborhood search, decomposition algorithms, greedy/randomized search) for industry-scale problems is required.\nGood grasp on the theory and practise of basic statistical models such as regression or clustering and general ML algorithms such as tree, Random Forests, SVM, Boosting, Neural Networks etc. It is not expected that the candidate has actually worked on all these modules.\nStrong proficiency in Python or R is necessary.\nRoleResearch Scientist\nIndustry TypeInternet\nFunctional AreaResearch & Development\nEmployment TypeFull Time, Permanent\nRole CategoryPharmaceutical & Biotechnology\nEducation\nUG :B.Tech/B.E.\nPG :M.Tech\nKey Skills\nSupply chainOperations researchdata scienceNeural networksPredictive modelingPython',

In [ ]:
driver.close()

Q3: In this question you have to scrape data using the filters available on the 
webpage as shown below:

In [56]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.naukri.com/")

In [57]:
search_job = driver.find_element_by_id("qsb-keyword-sugg")
search_job.send_keys("Data Scientist")
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [58]:
filter_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[3]/label/p/span[1]")
filter_button.click()

In [59]:
filter_button=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/p/span[1]")
filter_button.click()

In [60]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles=[]
for i in title:
    titles.append(i.text)
titles[0:10]

['Job Opportunity || Data Scientist || HCL Technologies',
 'Data Scientist',
 'Data Scientist',
 'Associate Data Scientist',
 'Data Scientist I/II/III',
 'Academic Counsellor - Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist Internship']

In [61]:
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations=[]
for i in location:
    locations.append(i.text)
locations[0:10]

['Delhi / NCR',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Noida, Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Mumbai, Delhi / NCR',
 'New Delhi']

In [62]:
c_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
c_names=[]
for i in c_name:
    c_names.append(i.text)
c_names[0:10]

['HCL Technologies',
 'EXL Services.com ( I ) Pvt. Ltd.',
 'Hexagon Geosystems Services India P.Ltd.',
 'Optum Global Solutions (India) Private Limited',
 'OLX India Pvt Ltd',
 'GreatLearning',
 'Optum Global Solutions (India) Private Limited',
 'Milliman India Pvt Ltd',
 'lericon infomatics pvt.ltd',
 'iHackers Inc']

In [63]:
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']")
exps=[]
for i in exp:
    exps.append(i.text)
exps[0:10]

['4-7 Yrs',
 '3-5 Yrs',
 '6-11 Yrs',
 '2-7 Yrs',
 '3-6 Yrs',
 '1-4 Yrs',
 '2-6 Yrs',
 '2-5 Yrs',
 '3-5 Yrs',
 '0-1 Yrs']

In [64]:
df=pd.DataFrame()
df["job_title"]=titles[0:10]
df["location"]=locations[0:10]
df["company_name"]=c_names[0:10]
df["experience_required"]=exps[0:10]
df

,job_title,location,company_name,experience_required
0,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,4-7 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",EXL Services.com ( I ) Pvt. Ltd.,3-5 Yrs
2,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Hexagon Geosystems Services India P.Ltd.,6-11 Yrs
3,Associate Data Scientist,Noida,Optum Global Solutions (India) Private Limited,2-7 Yrs
4,Data Scientist I/II/III,Gurgaon/Gurugram,OLX India Pvt Ltd,3-6 Yrs
5,Academic Counsellor - Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",GreatLearning,1-4 Yrs
6,Data Scientist,"Noida, Gurgaon/Gurugram",Optum Global Solutions (India) Private Limited,2-6 Yrs
7,Data Scientist,Gurgaon/Gurugram,Milliman India Pvt Ltd,2-5 Yrs
8,Data Scientist,"Mumbai, Delhi / NCR",lericon infomatics pvt.ltd,3-5 Yrs
9,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs

In [ ]:
driver.close()

Q4: Write a python program to scrape data for first 10 job results for Data scientist 
Designation in Noida location. You have to scrape company_name, No. of days 
ago when job was posted, Rating of the company.

In [30]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.glassdoor.co.in/member/home/index.htm")

In [35]:
search_job = driver.find_element_by_id("scKeyword")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='scLocation']")
search_loc.send_keys("Noida")

In [36]:
search_btn=driver.find_element_by_xpath("//button[@class='pl-0 pr-xsm search__SearchStyles__searchKeywordSubmit']")
search_btn.click()

In [37]:
c_name=driver.find_elements_by_xpath("//div[@class='d-flex justify-content-between align-items-start']")
c_names=[]
for i in c_name:
    c_names.append(i.text)
c_names[0:10]

['Procter & Gamble',
 'CommerceIQ',
 'Indeed',
 'BOEING',
 'Shell',
 'Top Mentor',
 'AIIMS, Delhi',
 'AstraZeneca',
 'Pixel Vision',
 'Kline & Company']

In [38]:
day=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-17n8uzw']")
days=[]
for i in day:
    days.append(i.text)
days[0:10]

['22d', '30d+', '30d+', '12d', '1d', '23d', '24h', '15d', '2d', '24h']

In [40]:
rate=driver.find_elements_by_xpath("//span[@class=' job-search-key-srfzj0 e1cjmv6j0']")
rates=[]
for i in rate:
    rates.append(i.text)
rates[0:10]

['4.2', '4.2', '4.3', '3.8', '4.1', '4.5', '4.2', '3.7', '3.9', '3.9']

In [55]:
df=pd.DataFrame()
df["Company"]=c_names[0:10]
df["Posted"]=days[0:10]
df["Rating"]=rates[0:10]
df

            Company Posted Rating
0  Procter & Gamble    22d    4.2
1        CommerceIQ   30d+    4.2
2            Indeed   30d+    4.3
3            BOEING    12d    3.8
4             Shell     1d    4.1
5        Top Mentor    23d    4.5
6      AIIMS, Delhi    24h    4.2
7       AstraZeneca    15d    3.7
8      Pixel Vision     2d    3.9
9   Kline & Company    24h    3.9

In [42]:
driver.close()

Q5: Write a python program to scrape the salary data for Data Scientist designation 
in Noida location.
 min salary, max salary, company 
name, Average salary and rating of the company

In [54]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get(" https://www.glassdoor.co.in/Salaries/index.htm")

In [58]:
search_job = driver.find_element_by_id("KeywordSearch")
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_loc.send_keys("Noida")

In [59]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [60]:
c_name=driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")
c_names=[]
for i in c_name:
    c_names.append(i.text)
c_names[0:10]

['Tata Consultancy Services',
 'IBM',
 'Accenture',
 'Ericsson-Worldwide',
 'Delhivery',
 'UnitedHealth Group',
 'EXL Service',
 'Optum',
 'ZS Associates',
 'Optum Global Solutions']

In [62]:
range_=driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")
ranges=[]
for i in range_:
    ranges.append(i.text)
ranges[0:10]

['Range: ₹4L - ₹13L',
 'Range: ₹1L - ₹28L',
 'Range: ₹6L - ₹23L',
 'Range: ₹4L - ₹17L',
 'Range: ₹5L - ₹1Cr',
 'Range: ₹8L - ₹16L',
 'Range: ₹6L - ₹20L',
 'Range: ₹8L - ₹20L',
 'Range: ₹2L - ₹22L',
 'Range: ₹10L - ₹18L']

In [65]:
avg=driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")
avgs=[]
for i in avg:
    avgs.append(i.text.strip().replace("\n /",""))
avgs[0:10]

['₹6,31,184yr',
 '₹9,08,246yr',
 '₹12,13,338yr',
 '₹7,61,766yr',
 '₹12,49,716yr',
 '₹12,80,000yr',
 '₹12,42,519yr',
 '₹12,70,000yr',
 '₹11,71,868yr',
 '₹14,55,430yr']

In [66]:
rate=driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")
rates=[]
for i in rate:
    rates.append(i.text)
rates[0:10]

['3.9', '3.9', '4.1', '4', '3.7', '3.7', '3.6', '3.7', '4', '3.9']

In [67]:
df=pd.DataFrame()
df["Company"]=c_names[0:10]
df["Salary Range"]=ranges[0:10]
df["Average Salary"]=avgs[0:10]
df["Rating"]=rates[0:10]
df

                     Company        Salary Range Average Salary Rating
0  Tata Consultancy Services   Range: ₹4L - ₹13L    ₹6,31,184yr    3.9
1                        IBM   Range: ₹1L - ₹28L    ₹9,08,246yr    3.9
2                  Accenture   Range: ₹6L - ₹23L   ₹12,13,338yr    4.1
3         Ericsson-Worldwide   Range: ₹4L - ₹17L    ₹7,61,766yr      4
4                  Delhivery   Range: ₹5L - ₹1Cr   ₹12,49,716yr    3.7
5         UnitedHealth Group   Range: ₹8L - ₹16L   ₹12,80,000yr    3.7
6                EXL Service   Range: ₹6L - ₹20L   ₹12,42,519yr    3.6
7                      Optum   Range: ₹8L - ₹20L   ₹12,70,000yr    3.7
8              ZS Associates   Range: ₹2L - ₹22L   ₹11,71,868yr      4
9     Optum Global Solutions  Range: ₹10L - ₹18L   ₹14,55,430yr    3.9

In [68]:
driver.close()

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [67]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [68]:
login_pop=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
login_pop.click()
search_job = driver.find_element_by_xpath("//input[@placeholder='Search for products, brands and more']")
search_job.send_keys("sunglasses")

In [69]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [87]:
import time
names=[]
for i in range(3):
    time.sleep(5) 
    name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for j in name:
        names.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
        
    next_.click()

In [89]:
names

['ROYAL SON',
 'AISLIN',
 'Fastrack',
 'PIRASO',
 'PIRASO',
 'Elligator',
 'Fastrack',
 'ROZZETTA CRAFT',
 'SHAAH COLLECTIONS',
 'PIRASO',
 'Fastrack',
 'ROYAL SON',
 'New Specs',
 'Fastrack',
 'Fastrack',
 'ROZZETTA CRAFT',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'AISLIN',
 'Singco India',
 'Elligator',
 'Rich Club',
 'ROYAL SON',
 'kingsunglasses',
 'Fastrack',
 'Singco India',
 'ROYAL SON',
 'PHENOMENAL',
 'NuVew',
 'kingsunglasses',
 'ROYAL SON',
 'Fastrack',
 'SHAAH COLLECTIONS',
 'NuVew',
 'ROYAL SON',
 'Fastrack',
 'GANSTA',
 'GANSTA',
 'ROYAL SON',
 'GANSTA',
 'SHAAH COLLECTIONS',
 'Silver Kartz',
 'VINCENT CHASE',
 'ROYAL SON',
 'kingsunglasses',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'SUNBEE',
 'PIRASO',
 'VINCENT CHASE',
 'Silver Kartz',
 'Singco India',
 'Fastrack',
 'VINCENT CHASE',
 'IDEE',
 'ROZZETTA CRAFT',
 'GANSTA',
 'VINCENT CHASE',
 'Fastrack',
 'NuVew',
 'Elligator',
 'ROYAL SON',
 'IDEE',
 'IDEE',
 'Fastrack',
 'VINCENT CHASE',
 'elegante',
 'PHENOMENAL',
 'Fastrack',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'WROGN',
 'povty',
 'ROYAL SON',
 'VINCENT CHASE',
 'hipe',
 'ROZZETTA CRAFT',
 'Fastrack',
 'VINCENT CHASE',
 'ROYAL SON',
 'Fastrack',
 'United Colors of Benetton',
 'Villain',
 'Fastrack',
 'GANSTA',
 'Fastrack',
 'ROZZETTA CRAFT',
 'Fastrack',
 'WROGN',
 'Fastrack',
 'VINCENT CHASE',
 'PHENOMENAL',
 'IDEE',
 'PIRASO',
 'ROZZETTA CRAFT',
 'Fastrack',
 'hipe',
 'New Specs',
 'VINCENT CHASE',
 'ROZZETTA CRAFT',
 'Fastrack',
 'NuVew',
 'ROYAL SON',
 'HIPPON',
 'PIRASO',
 'IDEE',
 'AISLIN',
 'ROYAL SON',
 'PHENOMENAL',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Fastrack',
 'Fastrack',
 'AISLIN',
 'ROYAL SON']

In [90]:
descs=[]
for i in range(3):
    time.sleep(5) 
    desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in desc:
        descs.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
        
    next_.click()

In [91]:
descs

['UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Shield Sunglasses (Free Size)',
 'Polarized, UV Protection, Mirrored Aviator Sunglasses (...',
 'Mirrored, UV Protection, Riding Glasses, Others Round S...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection, Riding Glasses, Others Aviator, Wayfarer...',
 'UV Protection Round Sunglasses (55)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Over-sized Sunglasses (60)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Wrap-around Sunglasses (60)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection, Night Vision, Riding Glasses Sports Sung...',
 'Mirrored, UV Protection Wayfarer, Wayfarer, Wayfarer, W...',
 'UV Protection, Gradient Butterfly Sunglasses (57)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Aviator Sunglasses (57)',
 'Night Vision Aviator Sunglasses (59)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection, Night Vision, Riding Glasses Aviator Sun...',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Round Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Mirrored Wayfarer Sunglasses (53)',
 'Mirrored, UV Protection Aviator Sunglasses (18)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient, UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (18)',
 'UV Protection Sports Sunglasses (62)',
 'Mirrored Round Sunglasses (Free Size)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Oval Sunglasses (55)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Aviator Sunglasses (58)',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection Rectangular Sunglasses (56)',
 'UV Protection, Gradient Wayfarer Sunglasses (53)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Sports Sunglasses (Free Size)',
 'Mirrored, UV Protection Aviator Sunglasses (57)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection, Mirrored, Gradient Retro Square Sunglass...',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Wayfarer Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Wayfarer Sunglasses (55)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (88)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection Wayfarer Sunglasses (52)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Oval Sunglasses (56)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored, Riding Glasses, Others Sports Sunglasses (50)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Rectangular Sunglasses (60)',
 'UV Protection Aviator Sunglasses (18)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (59)',
 'Night Vision, Riding Glasses Wayfarer Sunglasses (53)',
 'Polarized, UV Protection Aviator Sunglasses (58)',
 'Gradient Retro Square Sunglasses (58)',
 'UV Protection Round Sunglasses (52)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Rectangular Sunglasses (59)',
 'Polarized, UV Protection Retro Square Sunglasses (53)',
 'UV Protection, Gradient Butterfly Sunglasses (52)']

In [93]:
prices=[]
for i in range(3):
    time.sleep(5) 
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for j in price:
        prices.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
        
    next_.click()

In [100]:
discounts=[]
for i in range(3):
    time.sleep(5) 
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for j in discount:
        discounts.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
        
    next_.click()

In [102]:
df=pd.DataFrame()
df["product"]=names[0:100]
df["description"]=descs[0:100]
df["price"]=prices[0:100]
df["discount"]=discounts[0:100]
df

,product,description,price,discount
0,ROYAL SON,"UV Protection, Gradient Round Sunglasses (Free...","₹1,039",15% off
1,AISLIN,"UV Protection, Gradient Round, Cat-eye Sunglas...",₹758,87% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹200,87% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹200,88% off
4,PIRASO,UV Protection Aviator Sunglasses (54),₹295,36% off
...,...,...,...,...
95,VINCENT CHASE,UV Protection Wayfarer Sunglasses (50),₹207,81% off
96,PHENOMENAL,UV Protection Retro Square Sunglasses (88),₹217,73% off
97,IDEE,UV Protection Round Sunglasses (53),₹186,80% off
98,PIRASO,UV Protection Round Sunglasses (52),"₹2,450",73% off
99,ROZZETTA CRAFT,"UV Protection, Gradient Butterfly, Retro Squar...",₹378,90% off

In [106]:
driver.close()

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone.

In [108]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC")

In [109]:
all_results=driver.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
all_results.click()

In [115]:
ratings=[]
for i in range(11):
    time.sleep(5) 
    rating=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    for j in rating:
        ratings.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
        
    next_.click()

In [118]:
reviews=[]
for i in range(11):
    time.sleep(5) 
    review=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for j in review:
        reviews.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
        
    next_.click()

In [120]:
f_reviews=[]
for i in range(11):
    time.sleep(5) 
    f_review=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")
    for j in f_review:
        f_reviews.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]/span")
        
    next_.click()

In [122]:
df=pd.DataFrame()
df["ratings"]=ratings[0:100]
df["review"]=reviews[0:100]
df["full review"]=f_reviews[0:100]
df

,ratings,review,full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Fabulous!,This is my first iOS phone. I am very happy wi...
4,5,Best in the market!,Great iPhone very snappy experience as apple k...
...,...,...,...
95,5,Wonderful,Best and amazing product.....phone looks so pr...
96,5,Great product,Excellent camera and display touching very nic...
97,5,Very Good,I got this beast today. And I must say the pic...
98,4,Classy product,Awesome purchase. Amazing phone with good batt...
99,5,Perfect product!,"Always love the apple products, upgraded from ..."

In [123]:
driver.close()

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and 
search for “sneakers” in the search field.

In [124]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.flipkart.com/")

In [125]:
login_pop=driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
login_pop.click()
search_job = driver.find_element_by_xpath("//input[@placeholder='Search for products, brands and more']")
search_job.send_keys("sneakers")

In [126]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
search_btn.click()

In [127]:
names=[]
for i in range(3):
    time.sleep(5) 
    name=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for j in name:
        names.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
        
    next_.click()

In [131]:
descs=[]
for i in range(3):
    time.sleep(5) 
    desc=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for j in desc:
        descs.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
        
    next_.click()

In [133]:
prices=[]
for i in range(3):
    time.sleep(5) 
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for j in price:
        prices.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
        
    next_.click()

In [136]:
discounts=[]
for i in range(3):
    time.sleep(5) 
    discount=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for j in discount:
        discounts.append(j.text)
     
    try:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span")
    except:
        next_=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span")
        
    next_.click()

In [138]:
df=pd.DataFrame()
df["product"]=names[0:100]
df["description"]=descs[0:100]
df["price"]=prices[0:100]
df["discount"]=discounts[0:100]
df

,product,description,price,discount
0,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹554,72% off
1,ZF - ALFIYA,Modern Trendy Sneakers Shoes Sneakers For Men,₹449,55% off
2,BRUTON,"Casual , Partywear Sneakers Shoes For Men's An...",₹379,70% off
3,D-SNEAKERZ,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹348,47% off
4,BRUTON,Sneakers For Men,₹699,80% off
...,...,...,...,...
95,bacca bucci,Anzarun FS Sneakers For Men,₹949,55% off
96,Nobelite,"New Fashion Outdoor Trendy Lightweight Casual,...",₹579,18% off
97,Kraasa,Combo Pack of 5 Casual Shoes Sneakers For Men,"₹1,959",50% off
98,PUMA,Platform Chunky Trainer/Sneakers -EBONY Mid To...,₹428,78% off
99,KLAVER KING,Sneakers For Men,"₹1,329",58% off

In [139]:
driver.close()

Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in 
the below image

In [141]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.myntra.com/shoes")

In [145]:
filter_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label")
filter_button.click()

In [144]:
filter_button=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label")
filter_button.click()

In [146]:
names=[]
for i in range(3):
    time.sleep(5) 
    name=driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for j in name:
        names.append(j.text)
    next_=driver.find_element_by_xpath("//a[@rel='next']")
    next_.click()

In [147]:
len(names)

150

In [149]:
descs=[]
for i in range(3):
    time.sleep(5) 
    desc=driver.find_elements_by_xpath("//h4[@class='product-product']")
    for j in desc:
        descs.append(j.text)
    next_=driver.find_element_by_xpath("//a[@rel='next']")
    next_.click()

In [151]:
prices=[]
for i in range(3):
    time.sleep(5) 
    price=driver.find_elements_by_xpath("//div[@class='product-price']")
    for j in price:
        prices.append(j.text)
    next_=driver.find_element_by_xpath("//a[@rel='next']")
    next_.click()

In [153]:
df=pd.DataFrame()
df["product"]=names[0:100]
df["description"]=descs[0:100]
df["price"]=prices[0:100]
df

,product,description,price
0,ALDO,Leather Solid Loafers,Rs. 10499Rs. 14999(30% OFF)
1,Puma,Men Jamming 2.0 Running Shoes,Rs. 10399Rs. 12999(20% OFF)
2,Nike,Men Zoom Span 4 Running Shoes,Rs. 7195
3,PUMA Motorsport,Unisex Scuderia Ferrari Shoes,Rs. 7999Rs. 9999(20% OFF)
4,PUMA Motorsport,Unisex Mercedes F1 Sneakers,Rs. 7999Rs. 9999(20% OFF)
...,...,...,...
95,ADIDAS,Women GT-2000 9 Running Shoes,Rs. 8399Rs. 11999(30% OFF)
96,ASICS,Men Textured Leather Monks,Rs. 6990
97,Geox,Men Printed Sneakers,Rs. 6999
98,Ruosh,Women Textured Leather Loafers,Rs. 6920Rs. 6990(1% OFF)
99,Tommy Hilfiger,Men Textured Sneakers,Rs. 7039Rs. 10999(36% OFF)

In [154]:
driver.close()

Q10: Go to webpage https://www.amazon.in/
     Enter “Laptop” in the search field and then click the search icon.
     Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the 
     below image:

In [2]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get(" https://www.amazon.in/")

In [3]:
search = driver.find_element_by_id("twotabsearchtextbox")
search.send_keys("Laptop")

In [4]:
search_btn=driver.find_element_by_id("nav-search-submit-button")
search_btn.click()

In [5]:
filter_button=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[26]/span/a/div")
filter_button.click()

In [6]:
filter_button=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/span/div/div/div[6]/ul[1]/li[28]/span/a/div")
filter_button.click()

In [7]:
title=driver.find_elements_by_xpath("//h2[@class='a-size-mini a-spacing-none a-color-base s-line-clamp-2']")
titles=[]
for i in title:
    titles.append(i.text)
titles[0:10]

['Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6" (39.62 cm) FHD IPS 300 nits Antiglare 100% sRGB Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg), 20VEA0HHIH',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596',
 'Life Digital Laptop 15.6-inch (39.62 cms) (Intel Core i7, 4GB RAM, 256GB SSD, Windows 10), ZED AIR CX7',
 'Mi Notebook Horizon Edition 14 Intel Core i7-10510U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg)(Without Webcam) XMA1904-AF',
 'HP Pavilion (2021) Intel 11th Gen Core i7 14 inches FHD Screen Thin & Light Laptop, 16 GB RAM, 1TB SSD, Iris Xe Graphics, Windows 10, MS Office, Backlit Keyboard, 1.41kg (14-dv0058TU), Silver',
 'Acer Nitro 5 11th Gen Intel Core i7-11800H 15.6" (39.62cms) Full HD Gaming Laptop (16 GB/256GB SSD/1 TB HDD/Win 10/RTX 3050 Ti 4GB Graphics/144 Hz, Black, 2.4 kg/RGB Backlit Keyboard) AN515-57',
 'HP Pavilion 13(2021) 11th Gen Intel Core i7 Laptop, 16GB RAM, 1TB SSD, 13.3-inch(33.8 cm) FHD Screen, Win 10, MS Office, Ceramic White, 1.24 Kg (13-bb0078TU)',
 'Lenovo ThinkBook 15 Intel 11th Gen Core i7 15.6" (39.62 cm) FHD IPS 300 nits Antiglare 100% sRGB Thin and Light Laptop (16GB/512GB SSD/Windows 10/MS Office/3 Yr Onsite Warranty/1.7 Kg), 20VEA0HHIH',
 'Dell 14 (2021) i7-1195G7 2in1 Touch Screen Laptop, 16GB, 512GB SSD, Win 10 + MS Office, 14.0" (35.56 cms) FHD Display, Backlit KB, FPR + Active Pen, Platinum Silver (Inspiron 5410, D560596WIN9S)',
 'Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33.78cm) FHD IPS 400Nits Thin and Light Laptop (16GB/512GB SSD/Win10/Office/Iris Xe Graphics/Backlit Kb/ Fingerprint Reader/Black/878gms), 4ZR1D67596']

In [8]:
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
prices=[]
for i in price:
    prices.append(i.text)
prices[0:10]

['84,990',
 '89,990',
 '24,990',
 '53,990',
 '84,990',
 '89,990',
 '91,990',
 '84,990',
 '89,990',
 '89,990']

In [9]:
page_url = [] 

url = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
for i in url:
    page_url.append(i.get_attribute('href'))

In [193]:
page_url

['https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A03180532XQPG7KYMJMUI&url=%2FLG-Ultra-Light-16-inches-Thunderbolt-16Z90P-G-AH75A2%2Fdp%2FB09B81W875%2Fref%3Dsr_1_1_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1634230979%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-1-spons%26psc%3D1&qualifier=1634230979&id=6655275886193722&widgetName=sp_atf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_atf_computers_sr_pg1_1?ie=UTF8&adId=A07831422XG3LWS75TAAF&url=%2FLenovo-ThinkBook-Antiglare-Warranty-20VEA0HHIH%2Fdp%2FB09GW2F4XV%2Fref%3Dsr_1_2_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1634230979%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-2-spons%26psc%3D1&qualifier=1634230979&id=6655275886193722&widgetName=sp_atf',
 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRMHZ8J/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089DFJHZ8/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/Acer-i7-11800H-39-62cms-Graphics-AN515-57/dp/B09C8HZMW2/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/Lenovo-ThinkBook-Antiglare-Warranty-20VEA0HHIH/dp/B09GW2F4XV/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/HP-Pavilion-13-3-inch-Ceramic-13-bb0078TU/dp/B09839P9XB/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Dell-i7-1195G7-Platinum-5410-D560596WIN9S/dp/B09F3QKQH6/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/Lenovo-i7-10750H-39-63cm-Windows-82AU00PNIN/dp/B097TY6PTN/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/Lenovo-ThinkBook-Antiglare-Warranty-20VEA0HBIH/dp/B09G3CQXSD/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/Fujitsu-33-78cm-Graphics-Fingerprint-4ZR1D67596/dp/B098P34QRL/ref=sr_1_12?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/ASUS-Dash-F15-15-6-inch-i7-11370H-FX516PC-HN062T/dp/B096KZ11KK/ref=sr_1_13?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-13',
 'https://www.amazon.in/Fujitsu-Convertible-Business-Graphics-4ZR1D71993/dp/B098P4M233/ref=sr_1_14?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-14',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A09871313SV6E7SWE5EX0&url=%2FRenewed-HP-15-6-Inch-Graphics-Zbook%2Fdp%2FB0912JRYG6%2Fref%3Dsr_1_15_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1634230979%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-15-spons%26psc%3D1&qualifier=1634230979&id=6655275886193722&widgetName=sp_mtf',
 'https://www.amazon.in/HP-Pavilion-15-6-inch-Graphics-15-dk2075tx/dp/B09BDBCRNZ/ref=sr_1_16?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-16',
 'https://www.amazon.in/Dell-i7-10870H-G15-5510-D560534WIN9B/dp/B09F3PCD31/ref=sr_1_17?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/ASUS-i7-11370H-GeForce-Graphics-FX516PM-AZ153TS/dp/B08CKRKTSY/ref=sr_1_18?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/Lenovo-IdeaPad-i7-11370H-39-63cm-82K1004EIN/dp/B09BJ7GD7B/ref=sr_1_19?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/ASUS-15-6-inch-i7-11800H-RTX-3050-FX566HC-HN050T/dp/B09CCL46PH/ref=sr_1_20?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Aluminium-82BH004HIN/dp/B08P3M22QQ/ref=sr_1_21?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/MSI-i7-10750H-IPS-Level-Windows-10SCXR-654IN/dp/B093L8QGL7/ref=sr_1_22?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/Lenovo-39-62cm-Refresh-Keyboard-82JK007WIN/dp/B09DMYZW5Q/ref=sr_1_23?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/ASUS-ZenBook-i7-1165G7-Business-Graphics/dp/B095C55Q7P/ref=sr_1_24?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/Dell-i7-11800H-G15-5511-D560546WIN9B/dp/B09F3Q5GTR/ref=sr_1_25?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/Lenovo-Touchscreen-Graphics-Fingerprint-82A300BEIN/dp/B094XHDWWF/ref=sr_1_26?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-26',
 'https://www.amazon.in/ASUS-Dash-F15-15-6-inch-i7-11370H-FX516PC-HN063T/dp/B096KVJ5PC/ref=sr_1_27?dchild=1&keywords=Laptop&qid=1634230979&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-27',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_btf_computers_sr_pg1_1?ie=UTF8&adId=A03807122ZPW725VP64T0&url=%2FLG-Ultra-Light-17-inches-Thunderbolt-17Z90P-G-AH75A2%2Fdp%2FB09B816K7V%2Fref%3Dsr_1_28_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1634230979%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-28-spons%26psc%3D1&qualifier=1634230979&id=6655275886193722&widgetName=sp_btf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_btf_computers_sr_pg1_1?ie=UTF8&adId=A044756312OPSSBIO8FAW&url=%2FFujitsu-33-78cm-Graphics-Fingerprint-4ZR1D67596%2Fdp%2FB098P34QRL%2Fref%3Dsr_1_29_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1634230979%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-29-spons%26psc%3D1&qualifier=1634230979&id=6655275886193722&widgetName=sp_btf',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_rhf_search_pt_sub_0?ie=UTF8&adId=A07331691LZNWY60A2RE8&adOffset=0&qualifier=1634231335&id=3395780469936402&widgetName=sp_rhf_search&url=%2FHP-Chromebook-14a-na0002TU-Integrated-Graphics%2Fdp%2FB08C5WLK3P%3Fpsc%3D1%26pd_rd_w%3DgDXqg%26pf_rd_p%3Da458bc5b-bc65-4238-9284-07ecc9e72432%26pf_rd_r%3DJN0JTGZTWNG23PZMXKRH%26pd_rd_r%3D1b02184b-2313-457c-99bd-9410fc0f5d84%26pd_rd_wg%3DgajNN%26ref_%3Dsspa_dk_rhf_search_pt_sub_0',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_rhf_search_pt_sub_1?ie=UTF8&adId=A05289882VRCWE0EFOXPQ&adOffset=0&qualifier=1634231335&id=3395780469936402&widgetName=sp_rhf_search&url=%2FHP-14-inch-Windows-Natural-14s-fq1030AU%2Fdp%2FB0928TPR8H%3Fpsc%3D1%26pd_rd_w%3DgDXqg%26pf_rd_p%3Da458bc5b-bc65-4238-9284-07ecc9e72432%26pf_rd_r%3DJN0JTGZTWNG23PZMXKRH%26pd_rd_r%3D1b02184b-2313-457c-99bd-9410fc0f5d84%26pd_rd_wg%3DgajNN%26ref_%3Dsspa_dk_rhf_search_pt_sub_1',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_rhf_search_pt_sub_2?ie=UTF8&adId=A053188419PJSF1WPZXUJ&adOffset=0&qualifier=1634231335&id=3395780469936402&widgetName=sp_rhf_search&url=%2FHP-15-6-inch-Laptop-Windows-15s-gy0501AU%2Fdp%2FB09FL5CK19%3Fpsc%3D1%26pd_rd_w%3DgDXqg%26pf_rd_p%3Da458bc5b-bc65-4238-9284-07ecc9e72432%26pf_rd_r%3DJN0JTGZTWNG23PZMXKRH%26pd_rd_r%3D1b02184b-2313-457c-99bd-9410fc0f5d84%26pd_rd_wg%3DgajNN%26ref_%3Dsspa_dk_rhf_search_pt_sub_2',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_rhf_search_pt_sub_3?ie=UTF8&adId=A0982478MY1XSEGSSY0T&adOffset=0&qualifier=1634231335&id=3395780469936402&widgetName=sp_rhf_search&url=%2FMSI-GF75-Thin-i7-10750H-10UD-086IN%2Fdp%2FB09BR7574Z%3Fpsc%3D1%26pd_rd_w%3DgDXqg%26pf_rd_p%3Da458bc5b-bc65-4238-9284-07ecc9e72432%26pf_rd_r%3DJN0JTGZTWNG23PZMXKRH%26pd_rd_r%3D1b02184b-2313-457c-99bd-9410fc0f5d84%26pd_rd_wg%3DgajNN%26ref_%3Dsspa_dk_rhf_search_pt_sub_3',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_rhf_search_pt_sub_4?ie=UTF8&adId=A09823532TSMTRLP1ISOH&adOffset=0&qualifier=1634231335&id=3395780469936402&widgetName=sp_rhf_search&url=%2FMSI-i7-10750H-IPS-Level-10SC-087IN-9S7-17F612-087%2Fdp%2FB09BR9RQY7%3Fpsc%3D1%26pd_rd_w%3DgDXqg%26pf_rd_p%3Da458bc5b-bc65-4238-9284-07ecc9e72432%26pf_rd_r%3DJN0JTGZTWNG23PZMXKRH%26pd_rd_r%3D1b02184b-2313-457c-99bd-9410fc0f5d84%26pd_rd_wg%3DgajNN%26ref_%3Dsspa_dk_rhf_search_pt_sub_4',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_rhf_search_pt_sub_5?ie=UTF8&adId=A084663281K06JTLLR3U&adOffset=0&qualifier=1634231335&id=3395780469936402&widgetName=sp_rhf_search&url=%2FHP-inches-Laptop-Windows-15s-du1066TU%2Fdp%2FB095YC11CF%3Fpsc%3D1%26pd_rd_w%3DgDXqg%26pf_rd_p%3Da458bc5b-bc65-4238-9284-07ecc9e72432%26pf_rd_r%3DJN0JTGZTWNG23PZMXKRH%26pd_rd_r%3D1b02184b-2313-457c-99bd-9410fc0f5d84%26pd_rd_wg%3DgajNN%26ref_%3Dsspa_dk_rhf_search_pt_sub_5',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=sspa_dk_rhf_search_pt_sub_6?ie=UTF8&adId=A03509501KS5RK95SY8YC&adOffset=0&qualifier=1634231335&id=3395780469936402&widgetName=sp_rhf_search&url=%2FHP-Pavilion-15-6-inch-Fingerprint-15-eh1103AU%2Fdp%2FB09DGDW4Y1%3Fpsc%3D1%26pd_rd_w%3DgDXqg%26pf_rd_p%3Da458bc5b-bc65-4238-9284-07ecc9e72432%26pf_rd_r%3DJN0JTGZTWNG23PZMXKRH%26pd_rd_r%3D1b02184b-2313-457c-99bd-9410fc0f5d84%26pd_rd_wg%3DgajNN%26ref_%3Dsspa_dk_rhf_search_pt_sub_6']

In [12]:
import time
from selenium.common.exceptions import NoSuchElementException
rating=[]
for i in page_url[:10]: 
    driver.get(i)
    time.sleep(3)
    
    try:
        ratings = driver.find_element_by_xpath("//span[@class='a-size-base a-nowrap']")
        rating.append(ratings.text)
    except NoSuchElementException as e:
        ratings=driver.find_element_by_xpath("//h3[@class='a-spacing-small']")
        rating.append(ratings.text)

In [13]:
rating

['4.4 out of 5',
 '4.4 out of 5',
 '3.3 out of 5',
 '4.2 out of 5',
 '4.3 out of 5',
 '3.8 out of 5',
 '4.4 out of 5',
 '4.4 out of 5',
 'No customer reviews',
 '4.4 out of 5']

In [15]:
df=pd.DataFrame()
df["product title"]=titles[0:10]
df["ratings"]=rating[0:10]
df["price"]=prices[0:10]
df

,product title,ratings,price
0,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.4 out of 5,"84,990"
1,Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....,4.4 out of 5,"89,990"
2,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.3 out of 5,"24,990"
3,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.2 out of 5,"53,990"
4,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,4.3 out of 5,"84,990"
5,Acer Nitro 5 11th Gen Intel Core i7-11800H 15....,3.8 out of 5,"89,990"
6,HP Pavilion 13(2021) 11th Gen Intel Core i7 La...,4.4 out of 5,"91,990"
7,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,4.4 out of 5,"84,990"
8,Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...,No customer reviews,"89,990"
9,Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....,4.4 out of 5,"89,990"

In [16]:
driver.close()