In [20]:
import time
import pandas as pd
from selenium import webdriver 
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains 
from selenium.webdriver.common.by import By
from bs4 import *
import requests

1. Scrape the details of most viewed videos on YouTube from Wikipedia:
Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [3]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [21]:
current_url=driver.current_url
page=requests.get(current_url)   
soup=BeautifulSoup(page.text,"html.parser")
table=pd.read_html(page.content)

In [24]:
table[4]

,No.,Video name,Uploader,Views (billions),Upload date,Note,Unnamed: 6
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.54,"June 17, 2016",[B],NaN
1,2.,"""Despacito""[25]",Luis Fonsi,7.60,"January 12, 2017",[C],NaN
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.84,"October 8, 2016",[D],NaN
3,4.,"""Shape of You""[27]",Ed Sheeran,5.50,"January 30, 2017",[E],NaN
4,5.,"""See You Again""[28]",Wiz Khalifa,5.30,"April 6, 2015",[F],NaN
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.58,"May 2, 2018",[G],NaN
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.53,"February 27, 2018",[H],NaN
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.46,"January 31, 2012",[I],NaN
8,9.,"""Uptown Funk""[34]",Mark Ronson,4.34,"November 19, 2014",[J],NaN
9,10.,"""Phonics Song with Two Words""[35]",ChuChu TV,4.25,"March 6, 2014",NaN,NaN
10,11.,"""Gangnam Style""[36]",Psy,4.23,"July 15, 2012",[K],NaN
11,12.,"""Dame Tu Cosita""[38]",El Chombo,3.66,"April 5, 2018",NaN,NaN
12,13.,"""Sugar""[39]",Maroon 5,3.58,"January 14, 2015",NaN,NaN
13,14.,"""Sorry""[40]",Justin Bieber,3.48,"October 22, 2015",NaN,NaN
14,15.,"""Roar""[41]",Katy Perry,3.46,"September 5, 2013",NaN,NaN
15,16.,"""Counting Stars""[42]",OneRepublic,3.43,"May 31, 2013",NaN,NaN
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,3.35,"October 7, 2014",NaN,NaN
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.32,"May 24, 2018",NaN,NaN
18,19.,"""Faded""[45]",Alan Walker,3.17,"December 3, 2015",NaN,NaN
19,20.,"""Dark Horse""[46]",Katy Perry,3.17,"February 20, 2014",NaN,NaN
20,21.,"""Girls Like You""[47]",Maroon 5,3.16,"May 31, 2018",NaN,NaN
21,22.,"""Lean On""[48]",Major Lazer,3.11,"March 22, 2015",NaN,NaN
22,23.,"""Bailando""[49]",Enrique Iglesias,3.11,"April 11, 2014",NaN,NaN
23,24.,"""Shake It Off""[50]",Taylor Swift,3.11,"August 18, 2014",NaN,NaN
24,25.,"""Let Her Go""[51]",Passenger,3.10,"July 25, 2012",NaN,NaN
25,26.,"""Axel F""[52]",Crazy Frog,3.07,"June 16, 2009",NaN,NaN
26,27.,"""Mi Gente""[53]",J Balvin,2.99,"June 29, 2017",NaN,NaN
27,28.,"""Perfect""[54]",Ed Sheeran,2.99,"November 9, 2017",NaN,NaN
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,2.98,"June 4, 2010",NaN,NaN
29,30.,"""Hello""[56]",Adele,2.90,"October 22, 2015",NaN,NaN
30,"As of October 27, 2021","As of October 27, 2021","As of October 27, 2021","As of October 27, 2021","As of October 27, 2021","As of October 27, 2021","As of October 27, 2021"

In [25]:
driver.close()

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code

In [116]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.bcci.tv/")

In [117]:
driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]").click()

In [118]:
fixtures=driver.find_element_by_xpath("/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a").get_attribute("href")
driver.get(fixtures)

In [119]:
current_url=driver.current_url
page=requests.get(current_url)   
soup=BeautifulSoup(page.content)

In [120]:
title=soup.find_all("div",class_="fixture__format-strip")
titles=[]
for i in title:
    titles.append(i.text.strip().replace("\n"," "))

In [121]:
fixture=soup.find_all("div",class_="fixture__teams")
fixtures=[]
for i in fixture:
    fixtures.append(i.text.strip().replace("\n"," "))

In [122]:
place=soup.find_all("p",class_="fixture__additional-info")
places=[]
for i in place:
    for j in i.find_all("span"):
        places.append(j.text.strip().replace("\n"," "))

In [123]:
date_time=soup.find_all("div",class_="fixture__datetime desktop-only")
date_times=[]
for i in date_time:
     date_times.append(i.text.strip().replace("\n"," "))

In [124]:
df=pd.DataFrame()
df["title"]=titles
df["fixtures"]=fixtures
df["place"]=places
df["date and time"]=date_times
df

,title,fixtures,place,date and time
0,T20I 2021 ICC Men's T20 World Cup,India v New Zealand,"Dubai International Stadium, Dubai",Sunday 31 October 19:30 IST
1,T20I 2021 ICC Men's T20 World Cup,India v Afghanistan,"Zayed Cricket Stadium, Abu Dhabi",Wednesday 03 November 19:30 IST
2,T20I 2021 ICC Men's T20 World Cup,India v Scotland,"Dubai International Stadium, Dubai",Friday 05 November 19:30 IST
3,T20I 2021 ICC Men's T20 World Cup,India v Namibia,"Dubai International Stadium, Dubai",Monday 08 November 19:30 IST
4,T20I India v New Zealand 2021,India v New Zealand,"Sawai Mansingh Stadium, Jaipur",Wednesday 17 November
5,T20I India v New Zealand 2021,India v New Zealand,"JSCA International Stadium Complex, Ranchi",Friday 19 November
6,T20I India v New Zealand 2021,India v New Zealand,"Eden Gardens, Kolkata",Sunday 21 November
7,Test India v New Zealand 2021,India v New Zealand,"Green Park, Kanpur",Thursday 25 November
8,Test India v New Zealand 2021,India v New Zealand,"Wankhede Stadium, Mumbai",Friday 03 December
9,ODI India v West Indies 2022,India v West Indies,"Narendra Modi Stadium, Ahmedabad",Sunday 06 February
10,ODI India v West Indies 2022,India v West Indies,"Sawai Mansingh Stadium, Jaipur",Wednesday 09 February
11,ODI India v West Indies 2022,India v West Indies,"Eden Gardens, Kolkata",Saturday 12 February
12,T20I India v West Indies 2022,India v West Indies,"Barabati Stadium, Cuttack",Tuesday 15 February
13,T20I India v West Indies 2022,India v West Indies,"ACA-VDCA Stadium, Visakhapatnam",Friday 18 February
14,T20I India v West Indies 2022,India v West Indies,"Greenfield Stadium, Thiruvananthapuram",Sunday 20 February
15,Test India v Sri Lanka 2022,India v Sri Lanka,"M.Chinnaswamy Stadium, Bangalore",Friday 25 February
16,Test India v Sri Lanka 2022,India v Sri Lanka,"Punjab Cricket Association Stadium, Mohali, Ch...",Saturday 05 March
17,T20I India v Sri Lanka 2022,India v Sri Lanka,"Punjab Cricket Association Stadium, Mohali, Ch...",Sunday 13 March
18,T20I India v Sri Lanka 2022,India v Sri Lanka,"Himachal Pradesh Cricket Association Stadium, ...",Tuesday 15 March
19,T20I India v Sri Lanka 2022,India v Sri Lanka,Bharat Ratna Shri Atal Bihari Vajpai Ekana Cri...,Friday 18 March

In [125]:
driver.close()

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [47]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.guru99.com/")

In [48]:
driver.find_element_by_xpath("//div[@class='wp-block-kadence-column inner-column-4 kadence-column_137623-e8']").click()

In [49]:
link=driver.find_element_by_xpath("//a[@title='Selenium Exception Handling (Common Exceptions List)']").get_attribute("href")
driver.get(link)

In [50]:
current_url=driver.current_url
page=requests.get(current_url)   
soup=BeautifulSoup(page.content)

In [51]:
table=soup.find("table",class_="table table-striped")
table

<table class="table table-striped">
<tr>
<th>Exception name</th>
<th>Description</th>
</tr>
<tr>
<td>ElementNotVisibleException
</td>
<td>This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.
</td>
</tr>
<tr>
<td>ElementNotSelectableException
</td>
<td>This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.
</td>
</tr>
<tr>
<td>NoSuchElementException
</td>
<td>This Exception occurs if an element could not be found.
</td>
</tr>
<tr>
<td>NoSuchFrameException
</td>
<td>This Exception occurs if the frame target to be switched to does not exist.
</td>
</tr>
<tr>
<td>NoAlertPresentException
</td>
<td>This Exception occurs when you switch to no presented alert.
</td>
</tr>
<tr>
<td>NoSuchWindowException
</td>
<td>This Exception occurs if the window target to be switch does not exist.
</td>
</tr>
<tr>
<td>StaleElementReferenceException
</td>
<td>This Selenium exception occurs happens when the web element is detached from the current DOM.
</td>
</tr>
<tr>
<td>SessionNotFoundException
</td>
<td>The WebDriver is acting after you quit the browser.
</td>
</tr>
<tr>
<td>TimeoutException
</td>
<td>Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn’t found in the specified time.
</td>
</tr>
<tr>
<td>WebDriverException
</td>
<td>This Exception takes place when the WebDriver is acting right after you close the browser.
</td>
</tr>
<tr>
<td>ConnectionClosedException
</td>
<td>This type of Exception takes place when there is a disconnection in the driver.
</td>
</tr>
<tr>
<td>ElementClickInterceptedException
</td>
<td>The command may not be completed as the element receiving the events is concealing the element which was requested clicked.
</td>
</tr>
<tr>
<td>ElementNotInteractableException
</td>
<td>This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.
</td>
</tr>
<tr>
<td>ErrorInResponseException
</td>
<td>This happens while interacting with the Firefox extension or the remote driver server.
</td>
</tr>
<tr>
<td>ErrorHandler.UnknownServerException
</td>
<td>Exception is used as a placeholder in case if the server returns an error without a stack trace.
</td>
</tr>
<tr>
<td>ImeActivationFailedException
</td>
<td>This expectation will occur when IME engine activation has failed.
</td>
</tr>
<tr>
<td>ImeNotAvailableException
</td>
<td>It takes place when IME support is unavailable.
</td>
</tr>
<tr>
<td>InsecureCertificateException
</td>
<td>Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.
</td>
</tr>
<tr>
<td>InvalidArgumentException
</td>
<td>It occurs when an argument does not belong to the expected type.
</td>
</tr>
<tr>
<td>InvalidCookieDomainException
</td>
<td>This happens when you try to add a cookie under a different domain instead of current URL.
</td>
</tr>
<tr>
<td>InvalidCoordinatesException
</td>
<td>This type of Exception matches an interacting operation that is not valid.
</td>
</tr>
<tr>
<td>InvalidElementStateExceptio
</td>
<td>It occurs when command can’t be finished when the element is invalid.
</td>
</tr>
<tr>
<td>InvalidSessionIdException
</td>
<td>This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.
</td>
</tr>
<tr>
<td>InvalidSwitchToTargetException
</td>
<td>This occurs when the frame or window target to be switched does not exist.
</td>
</tr>
<tr>
<td>JavascriptException
</td>
<td>This issue occurs while executing JavaScript given by the user.
</td>
</tr>
<tr>
<td>JsonException
</td>
<td>It occurs when you afford to get the session when the session is not created.
</td>
</tr>
<tr>
<td>NoSuchAttributeException
</td>
<td>This kind of Exception occurs when the attribute of an element could not be found.
</td>
</tr>
<tr>
<td>MoveTargetOutOfBoundsException
</td>
<td>It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.
</td>
</tr>
<tr>
<td>NoSuchContextException
</td>
<td>ContextAware does mobile device testing.
</td>
</tr>
<tr>
<td>NoSuchCookieException
</td>
<td>This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing  document.
</td>
</tr>
<tr>
<td>NotFoundException
</td>
<td>This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.
</td>
</tr>
<tr>
<td>RemoteDriverServerException
</td>
<td>This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.
</td>
</tr>
<tr>
<td>ScreenshotException
</td>
<td>It is not possible to capture a screen.
</td>
</tr>
<tr>
<td>SessionNotCreatedException
</td>
<td>It happens when a new session could not be successfully created.
</td>
</tr>
<tr>
<td>UnableToSetCookieException
</td>
<td>This occurs if a driver is unable to set a cookie.
</td>
</tr>
<tr>
<td>UnexpectedTagNameException
</td>
<td>Happens if a support class did not get a web element as expected.
</td>
</tr>
<tr>
<td>UnhandledAlertException
</td>
<td>This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.
</td>
</tr>
<tr>
<td>UnexpectedAlertPresentException
</td>
<td>It occurs when there is the appearance of an unexpected alert.
</td>
</tr>
<tr>
<td>UnknownMethodException
</td>
<td>This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.
</td>
</tr>
<tr>
<td>UnreachableBrowserException
</td>
<td>This Exception occurs only when the browser is not able to be opened or crashed because of some reason.
</td>
</tr>
<tr>
<td>UnsupportedCommandException
</td>
<td>This occurs when remote WebDriver does n’t send valid commands as expected.
</td>
</tr>
</table>

In [52]:
header=[]
for i in table.find_all("th"):
    header.append(i.text.strip().replace("\n",""))
header
df=pd.DataFrame(columns=header)
df

Empty DataFrame
Columns: [Exception name, Description]
Index: []

In [53]:
for row in table.find_all("tr")[1:]:
    data=row.find_all("td")
    row_data=[td.text.strip().replace("\n","-") for td in data]
    length=len(df)
    df.loc[length]=row_data
df

,Exception name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [54]:
driver.close()

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP at current price (19-20)
D) GSDP at current price (18-19)
E) Share(18-19)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code.

In [55]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("http://statisticstimes.com/")

In [57]:
driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/button").click()

In [58]:
india=driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]").get_attribute("href")
driver.get(india)

In [59]:
state=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").get_attribute("href")
driver.get(state)

In [65]:
ranks=[]
states=[]
g19s=[]
g18s=[]
shares=[]
gdps=[]

rank = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
for i in rank:
    ranks.append(i.text)

state = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
for i in state:
    states.append(i.text)
    
g19= driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
for i in g19:
    g19s.append(i.text)
    
g18 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
for i in g18:
    g18s.append(i.text)
    
share = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
for i in share:
    shares.append(i.text)

gdp = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
for i in gdp:
    gdps.append(i.text)

In [66]:
df=pd.DataFrame()
df["rank"]=ranks
df["state"]=states
df["GSDP at current price (19-20)"]=g19s
df["GSDP at current price (18-19)"]=g18s
df["share"]=shares
df["GDP"]=gdps
df

,rank,state,GSDP at current price (19-20),GSDP at current price (18-19),share,GDP
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [67]:
driver.close()

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

In [141]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://github.com/")

In [142]:
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary").click()

In [143]:
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a").get_attribute("href")
driver.get(trending)

In [151]:
data=[]
page_url=[]
columns=["title","description","languages used"]
repos=driver.find_elements(By.XPATH,"//div[@class='position-relative container-lg p-responsive pt-6']//article[@class='Box-row']")
for repo in repos:
    try:
        title=repo.find_element(By.XPATH,".//h1[@class='h3 lh-condensed']").text
        data_row = repo.text.split("\n")
    except:
        title="-"
    try:
        desc=repo.find_element(By.XPATH,".//p[@class='col-9 color-text-secondary my-1 pr-4']").text 
    except:
        desc="-"
    try:
        lang=repo.find_element(By.XPATH,".//span[@class='d-inline-block ml-0 mr-3']").text
    except:
        lang="-"
    
    try:
        url=repo.find_element(By.XPATH,".//h1[@class='h3 lh-condensed']/a").get_attribute("href")
    except:
        url="-"
    data.append([title,desc,lang])
    page_url.append(url)

In [139]:
cc=[]

for i in page_url:
    driver.get(i)
    time.sleep(3)
    
    try:
        ccs = driver.find_element_by_xpath("//a[@class='social-count']")
        cc.append(ccs.text)
    except:
        ccs="-"
        cc.append(ccs)

In [152]:
df=pd.DataFrame(data,columns=columns)
df["contributors count"]=cc
df

,title,description,languages used,contributors count
0,github / copilot.vim,Neovim plugin for GitHub Copilot,Vim script,23
1,schollz / croc,Easily and securely send things from one compu...,Go,687
2,arco-design / arco-design-vue,A Vue.js 3 UI Library,TypeScript,47
3,iterativv / NostalgiaForInfinity,Trading strategy for the Freqtrade crypto bot,Python,138
4,WorkerLivesMatter / WorkingTime,-,-,1.2k
5,ehn-dcc-development / hcert-spec,Electronic Health Certificates Specification,Makefile,27
6,kon9chunkit / GitHub-Chinese-Top-Charts,🇨🇳 GitHub中文排行榜，帮助你发现高分优秀中文项目、更高效地吸收国人的优秀经验成果；榜...,Java,5.6k
7,vercel / next.js,The React Framework,JavaScript,15k
8,github / copilot-docs,Documentation for GitHub Copilot,Python,165
9,2point21 / lba1-classic,-,Assembly,12
10,shengcaishizhan / kkndme_tianya,天涯 kkndme 神贴聊房价,-,1.1k
11,2point21 / lba2-classic,-,Assembly,14
12,DouyinFE / semi-design,"A modern, comprehensive, flexible design syste...",TypeScript,222
13,Leaflet / Leaflet,🍃 JavaScript library for mobile-friendly inter...,JavaScript,5k
14,modern-js-dev / modern.js,The meta-framework suite designed from scratch...,TypeScript,86
15,devMEremenko / XcodeBenchmark,XcodeBenchmark measures the compilation time o...,Swift,154
16,waldo-vision / optical-flow-demo,A project that uses optical flow and machine l...,Python,17
17,angular / components,Component infrastructure and Material Design c...,TypeScript,5.9k
18,projectdiscovery / nuclei-templates,Community curated list of templates for the nu...,Python,848
19,onevcat / Kingfisher,"A lightweight, pure-Swift library for download...",Swift,2.2k
20,czj2369 / jd_tb_auto,基于AutoJs编写的618||双十一||淘宝||京东||赚喵币||赚汪汪币任务自动完成脚本,JavaScript,273
21,mltframework / shotcut,"cross-platform (Qt), open-source (GPLv3) video...",C++,636
22,arco-design / arco-design,A comprehensive React UI components library,TypeScript,99
23,jumpserver / jumpserver,JumpServer 是全球首款开源的堡垒机，是符合 4A 的专业运维安全审计系统。,Python,4.4k
24,tailwindlabs / headlessui,"Completely unstyled, fully accessible UI compo...",TypeScript,390

In [153]:
driver.close()

6. Scrape the details of top 100 songs on billboard.com.
Url = https://www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [108]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.billboard.com/")

In [109]:
driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a").click()

In [130]:
data=[]
columns = ["song_name","artist_name","last_week_rank","peak_rank","weeks_on_board"]
songs=driver.find_elements(By.XPATH,"//li[@class='chart-list__element display--flex']//button[@class='chart-element__wrapper display--flex flex--grow sort--this-week']")
for song in songs:
    try:
        name=song.find_element(By.XPATH,".//span[@class='chart-element__information__song text--truncate color--primary']").text
        data_row = song.text.split("\n")
    except:
        name="-"
    try:
        a_name=song.find_element(By.XPATH,".//span[@class='chart-element__information__artist text--truncate color--secondary']").text 
    except:
        a_name="-"
    try:
        lwr=song.find_element(By.XPATH,".//div[@class='chart-element__meta text--center color--secondary text--last']").text
    except:
        lwr="-"
    try:
        pr=song.find_element(By.XPATH,".//div[@class='chart-element__meta text--center color--secondary text--peak']").text
    except:
        pr="-"
    try:
        wb=song.find_element(By.XPATH,".//div[@class='chart-element__meta text--center color--secondary text--week']").text
    except:
        wb="-"
    data.append([name,a_name,lwr,pr,wb])

In [131]:
df=pd.DataFrame(data,columns=columns)
df

,song_name,artist_name,last_week_rank,peak_rank,weeks_on_board
0,Easy On Me,Adele,68,1,2
1,Stay,The Kid LAROI & Justin Bieber,2,1,15
2,Industry Baby,Lil Nas X & Jack Harlow,1,1,13
3,Fancy Like,Walker Hayes,3,3,18
4,Bad Habits,Ed Sheeran,4,2,17
...,...,...,...,...,...
95,Who's In Your Head,Jonas Brothers,95,95,2
96,Woo Baby,Pop Smoke Featuring Chris Brown,92,64,3
97,Flocky Flocky,Don Toliver Featuring Travis Scott,53,53,2
98,Like A Lady,Lady A,90,90,2
99,Just About Over You,Priscilla Block,97,97,2

In [132]:
driver.close()

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through code

In [59]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.naukri.com/")

In [60]:
recruit=driver.find_element_by_xpath("/html/body/div[1]/div[1]/div/ul[1]/li[2]/a").get_attribute("href")
driver.get(recruit)

In [61]:
search = driver.find_element_by_xpath("//input[@class='sugInp']")
search.send_keys("data science")

In [62]:
search.send_keys(Keys.ENTER)

In [63]:
data=[]
page_url=[]
columns=["name","designation"]
recruits=driver.find_elements(By.XPATH,"//div[@class='recInfo']//div[@class='vcard']")
for recruit in recruits:
    try:
        name=recruit.find_element(By.XPATH,".//span[@class='fl ellipsis']").text
        data_row = recruit.text.split("\n")
    except:
        name="-"
    try:
        desig=recruit.find_element(By.XPATH,".//span[@class='ellipsis clr']").text 
    except:
        desig="-"
    
    try:
        url=recruit.find_element(By.XPATH,".//div[@class='recImg mid_pImg_Silht']/a").get_attribute("href")
    except:
        url="-"
    data.append([name,desig])
    page_url.append(url)

In [52]:
c=[]
sh=[]
l=[]
for i in page_url:
    driver.get(i)
    time.sleep(3)
    
    try:
        cs = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[2]/div[2]/div[2]/p[1]")
        c.append(cs.text)
    except:
        cs="-"
        c.append(cs)
    
    try:
        shs = driver.find_element_by_id("skillInfo")
        sh.append(shs.text)
    except:
        shs="-"
        sh.append(shs)
        
    try:
        ls = driver.find_element_by_xpath("/html/body/div[2]/div[1]/div[1]/div[2]/div[5]/a")
        l.append(ls.text)
    except:
        ls="-"
        l.append(ls)

In [64]:
df=pd.DataFrame(data,columns=columns)
df["company"]=c
df["skills hire"]=sh
df["location"]=l
df

,name,designation,company,skills hire,location
0,Aakash Harit,HR Manager,Data Science Network,Sectors and Skills I hire for\nSkills/Roles I ...,Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd (Since Dec-2016),Sectors and Skills I hire for\nSkills/Roles I ...,Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP (Since Feb-2016),Sectors and Skills I hire for\nLevels I hire f...,Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Sectors and Skills I hire for\nSkills/Roles I ...,Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,Sectors and Skills I hire for\nSkills/Roles I ...,UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower (Si...,Sectors and Skills I hire for\nSkills/Roles I ...,Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR (Since May-2017),Sectors and Skills I hire for\nFunctional Area...,Chennai
7,Narasimha,Company Recruiter,-,-,Hyderabad / Secunderabad
8,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd (Since Dec-2014),Sectors and Skills I hire for\nSkills/Roles I ...,Trivandrum
9,Asif Lucknowi,Director,-,-,Indore
10,InstaFinancials,Human Resource,CBL Data Science Private Limited,Sectors and Skills I hire for\nLevels I hire f...,Bengaluru / Bangalore
11,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,Sectors and Skills I hire for\nLevels I hire f...,Hyderabad
12,Kalpana Dumpala,Executive Hiring,Innominds Software (Since Feb-2015),Sectors and Skills I hire for\nSkills/Roles I ...,Hyderabad / Secunderabad
13,Mubarak,Company HR,-,-,Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,-,-,Mumbai
15,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,Sectors and Skills I hire for\nLevels I hire f...,Pune
16,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd (Since Apr-2021),Sectors and Skills I hire for\nSkills/Roles I ...,Pune
17,Kapil Devang,HR Manager,BISP Solutions,Sectors and Skills I hire for\nSkills/Roles I ...,Bhopal
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com (Since Jan-2014),Sectors and Skills I hire for\nLevels I hire f...,Hyderabad / Secunderabad
19,Manisha Yadav,HR Executive,Easi Tax,Sectors and Skills I hire for\nLevels I hire f...,Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions (Since May-2019),Sectors and Skills I hire for\nIndustries:\nIT...,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE LIMITED,Sectors and Skills I hire for\nLevels I hire f...,Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,Sectors and Skills I hire for\nSkills/Roles I ...,Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,Sectors and Skills I hire for\nLevels I hire f...,Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies (Since Nov-2014),Sectors and Skills I hire for\nSkills/Roles I ...,Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,Sectors and Skills I hire for\nLevels I hire f...,Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private Limited,Sectors and Skills I hire for\nLevels I hire f...,Bengaluru / Bangalore
27,kumar,Proprietor,trainin,Sectors and Skills I hire for\nSkills/Roles I ...,Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,Sectors and Skills I hire for\nSkills/Roles I ...,Others
29,Rajat Kumar,Founder CEO,R.S Consultancy & Services,Sectors and Skills I hire for\nSkills/Roles I ...,Delhi
30,Priya Khare,Senior Manager,-,-,Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd (Sinc...",Sectors and Skills I hire for\nSkills/Roles I ...,Mysoru / Mysore
32,Dhruv Dev Dubey,Company Recruitment Head,Confidential (Since Jun-2016),Sectors and Skills I hire for\nSkills/Roles I ...,Bengaluru / Bangalore
33,SREEDHAR,Recruitment Consultant,-,-,Hyderabad / Secunderabad
34,Radha Manivasagam,HR Executive,Techcovery,Sectors and Skills I hire for\nLevels I hire f...,Bengaluru / Bangalore
35,Prateek Kumar,Head,Trisect (Since Jan-2013),Sectors and Skills I hire for\nLevels I hire f...,Noida
36,Amit Sharma,Consultant,-,-,New Delhi
37,Kanan,senior technology instructor,NY INST,Sectors and Skills I hire for\nLevels I hire f...,Chennai
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,-,-,Aligarh
39,Brad,"Manager, Technical Recruiting",O.C. Tanner (Since Jan-2019),Sectors and Skills I hire for\nLevels I hire f...,Salt Lake City
40,Rutuja Pawar,Technical Recruiter,Demand Matrix (Since Feb-2018),Sectors and Skills I hire for\nSkills/Roles I ...,Pune
41,Madhusudhan Sridhar,Erp Implementer,-,-,Bengaluru / Bangalore
42,Ankit Sinha,Head Analytics,-,-,Mumbai
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,Sectors and Skills I hire for\nLevels I hire f...,Indore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,Sectors and Skills I hire for\nSkills/Roles I ...,Bengaluru / Bangalore
45,Ashwini,Director Global Delivery,-,-,MYSORE
46,Balaji Kolli,Co Founder,-,-,Hyderabad / Secunderabad
47,Rajani Nagaraj,HR Manager,WildJasmine,Sectors and Skills I hire for\nSkills/Roles I ...,Bengaluru / Bangalore
48,ROHIT Kumar,Architect,LNT Private Limited (Since Jul-2017),Sectors and Skills I hire for\nLevels I hire f...,Mumbai
49,Amir Chowdhury,Managing Partner,-,-,

In [65]:
driver.close()

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [95]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/")

In [103]:
name=[]
a_name=[]
vol=[]
publish=[]
genre=[]


names = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[1]')
for i in names:
    name.append(i.text)

a_names = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for i in a_names:
    a_name.append(i.text)
    
v= driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for i in v:
    vol.append(i.text)
    
pb = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for i in pb:
    publish.append(i.text)
    
g = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for i in g:
    genre.append(i.text)

In [106]:
df=pd.DataFrame()
df["book_name"]=name
df["author_name"]=a_name
df["volumes_sold"]=vol
df["publisher"]=publish
df["genre"]=genre
df

,book_name,author_name,volumes_sold,publisher,genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [107]:
driver.close()

9. Scrape the details most watched tv series of all time from imdb.com.
 Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [68]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455/")

In [76]:
data=[]
page_url=[]
columns=["name","year span","genre","run time"]
series=driver.find_elements(By.XPATH,"//div[@class='lister-item mode-detail']//div[@class='lister-item-content']")
for serie in series:
    try:
        name=serie.find_element(By.XPATH,".//h3[@class='lister-item-header']/a").text
        data_row = serie.text.split("\n")
    except:
        name="-"
    try:
        y=serie.find_element(By.XPATH,".//span[@class='lister-item-year text-muted unbold']").text 
    except:
        y="-"
    try:
        g=serie.find_element(By.XPATH,".//span[@class='genre']").text 
    except:
        g="-"
    try:
        r=serie.find_element(By.XPATH,".//span[@class='runtime']").text 
    except:
        r="-"
    try:
        url=serie.find_element(By.XPATH,".//h3[@class='lister-item-header']/a").get_attribute("href")
    except:
        url="-"
    
    page_url.append(url)
    data.append([name,y,g,r])

In [78]:
rate=[]
vote=[]
for i in page_url:
    driver.get(i)
    time.sleep(3)
    
    try:
        rates = driver.find_element_by_xpath("/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[1]/div[2]/div/div[1]/a/div/div/div[2]/div[1]/span[1]")
        rate.append(rates.text)
    except:
        rates="-"
        rate.append(rates)
    
    try:
        votes = driver.find_element_by_xpath("/html/body/div[2]/main/div/section[1]/section/div[3]/section/section/div[1]/div[2]/div/div[1]/a/div/div/div[2]/div[3]")
        vote.append(votes.text)
    except:
        votes="-"
        vote.append(votes)

In [79]:
df=pd.DataFrame(data,columns=columns)
df["rating"]=rate
df["votes"]=vote
df

,name,year span,genre,run time,rating,votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,1.9M
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,924K
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,909K
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,272K
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,232K
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,46K
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,57K
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,179K
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,37K
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,209K

In [80]:
driver.close()

10. Details of Datasets from UCI machine learning repositories.
 Url = https://archive.ics.uci.edu/
 You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year
Note: - from the home page you have to go to the Show All Dataset page through code.

In [108]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://archive.ics.uci.edu/")

In [109]:
recruit=driver.find_element_by_xpath("/html/body/table[2]/tbody/tr/td/span/b/a").get_attribute("href")
driver.get(recruit)

In [110]:
name=[]
d_type=[]
task=[]
a_type=[]
n_instance=[]
n_attribute=[]
y=[]

names = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[1]')
for i in names:
    name.append(i.text)

d_types = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[2]')
for i in d_types:
    d_type.append(i.text)
    
tasks= driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[3]')
for i in tasks:
    task.append(i.text)
    
a_types= driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]')
for i in a_types:
    a_type.append(i.text)
    
n_instances= driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[5]')
for i in n_instances:
    n_instance.append(i.text) 

n_attributes = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[6]')
for i in n_attributes:
    n_attribute.append(i.text)
    
ys = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[7]')
for i in ys:
    y.append(i.text)

In [114]:
df=pd.DataFrame()
df["dataset_name"]=name[1:]
df["data_type"]=d_type[1:]
df["task"]=task[1:]
df["attribute_type"]=a_type[1:]
df["no_of_instances"]=n_instance[1:]
df["no_of_attribute"]=n_attribute[1:]
df["year"]=y[1:]
df

,dataset_name,data_type,task,attribute_type,no_of_instances,no_of_attribute,year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [115]:
driver.close()